@import url(https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap);body {
  font-family: "PT Sans Narrow", sans-serif;
  letter-spacing: 0.8px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-top {
  background-color: #0082F9;
}
.header-top .text {
  display: flex;
  justify-content: flex-end;
  max-width: 70%;
  margin: auto;
  word-spacing: 1px;
}
.header-top .text h5 {
  display: flex;
  color: #ffff;
  padding: 8px 0 8px 50px;
  font-size: 12px;
}
.header-top .text h5 span {
  font-size: 7px;
}
.header-top .text h5 i {
  padding-left: 5px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  max-width: 70%;
  margin: auto;
}
.header-bottom img {
  width: 70px;
}
.header-bottom ul {
  display: flex;
}
.header-bottom ul li {
  list-style: none;
  padding-left: 25px;
}
.header-bottom ul li a {
  font-size: 15px;
  text-decoration: none;
  color: #4F4948;
  font-weight: bold;
}
.header-bottom ul li a:hover {
  color: #0082F9;
  border-bottom: 4px solid #0082F9;
  padding-bottom: 46px;
}
.header-bottom ul li a.active {
  color: #0082F9;
  border-bottom: 4px solid #0082F9;
  padding-bottom: 46px;
}
.header-bottom ul li a i {
  color: #0082F9;
  padding-left: 5px;
}

.search {
  display: flex;
  justify-content: end;
  position: relative;
}
.search input {
  text-align: end;
  font-size: 12px;
  padding: 0 10px 5px 0;
  max-width: 80%;
  border: none;
  border-bottom: 2px solid #0082F9;
  outline: none;
}
.search ::-moz-placeholder {
  color: #4F4948;
  font-weight: bold;
}
.search :-ms-input-placeholder {
  color: #4F4948;
  font-weight: bold;
}
.search ::placeholder {
  color: #4F4948;
  font-weight: bold;
}
.search i {
  color: #4F4948;
  position: absolute;
  right: 0;
  bottom: 5px;
}

.hero {
  height: 300px;
  width: 100%;
}
.hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}