@import url(https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap);body {
  font-family: "PT Sans Narrow", sans-serif;
  letter-spacing: 0.8px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-top {
  background-color: #0082F9;
}
.header-top .text {
  display: flex;
  justify-content: flex-end;
  max-width: 70%;
  margin: auto;
  word-spacing: 1px;
}
.header-top .text h5 {
  color: #ffff;
  padding: 8px 0 8px 50px;
  font-size: 12px;
}
.header-top .text h5 sup {
  font-size: 8px;
}
.header-top .text h5 i {
  padding-left: 5px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  max-width: 70%;
  margin: auto;
}
.header-bottom img {
  width: 70px;
}
.header-bottom ul {
  display: flex;
}
.header-bottom ul li {
  list-style: none;
  padding-left: 25px;
}
.header-bottom ul li a {
  font-size: 15px;
  text-decoration: none;
  color: #4F4948;
  font-weight: bold;
}
.header-bottom ul li a:hover {
  color: #0082F9;
  border-bottom: 4px solid #0082F9;
  padding-bottom: 46px;
}
.header-bottom ul li a.active {
  color: #0082F9;
  border-bottom: 4px solid #0082F9;
  padding-bottom: 46px;
}
.header-bottom ul li a i {
  color: #0082F9;
  padding-left: 5px;
}

.search {
  display: flex;
  justify-content: end;
  position: relative;
}
.search input {
  text-align: end;
  font-size: 12px;
  padding: 0 10px 5px 0;
  max-width: 80%;
  border: none;
  border-bottom: 2px solid #0082F9;
  outline: none;
}
.search ::-moz-placeholder {
  color: #4F4948;
  font-weight: bold;
}
.search :-ms-input-placeholder {
  color: #4F4948;
  font-weight: bold;
}
.search ::placeholder {
  color: #4F4948;
  font-weight: bold;
}
.search i {
  color: #4F4948;
  position: absolute;
  right: 0;
  bottom: 5px;
}

.hero {
  background-image: url("/laravel-comics/images/jumbotron.jpg");
  background-position: top;
  background-size: cover;
  height: 300px;
  width: 100%;
}

.immagini-container {
  background-color: #1C1C1C;
  position: relative;
}
.immagini-container .container {
  max-width: 70%;
  margin: auto;
  padding: 30px 0;
}
.immagini-container .container ul {
  display: flex;
  flex-wrap: wrap;
}
.immagini-container .container ul li {
  list-style: none;
  width: calc(16.6666666667% - 20px);
  margin: 20px 10px;
}
.immagini-container .container ul li img {
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.immagini-container .container ul li h4 {
  color: #F4F2E7;
  font-weight: 300;
  font-size: 13px;
  text-transform: uppercase;
  padding-top: 15px;
}

.current-series {
  position: absolute;
  top: -20px;
  left: 210px;
  background-color: #0082F9;
  color: #ffff;
  text-align: center;
  width: 230px;
  padding: 5px;
}

.btn {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.btn button {
  background-color: #0082F9;
  color: #ffff;
  border: none;
  padding: 10px 70px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
}

.info-container {
  background-color: #0082F9;
}
.info-container .info {
  display: flex;
  justify-content: space-around;
  max-width: 70%;
  margin: auto;
  padding: 40px 0;
}
.info-container .info .img-info {
  display: flex;
  align-items: center;
}
.info-container .info .img-info img {
  height: 50px;
}
.info-container .info .visa img {
  width: 50px;
}
.info-container .info span {
  font-size: 13px;
  color: #ffff;
  padding-left: 15px;
}

.footer-top {
  height: 370px;
  width: 100%;
  background-image: url("/laravel-comics/images/dc-logo-bg.png"), url("/laravel-comics/images/footer-bg.jpg");
  background-position: right 25% center, left top;
  background-size: 480px, cover;
  background-repeat: no-repeat, no-repeat;
}

.lista-container {
  display: flex;
  max-width: 70%;
  margin: auto;
  padding-top: 30px;
}
.lista-container .lista {
  padding-right: 30px;
}
.lista-container .lista h4 {
  color: #ffff;
}
.lista-container .lista ul {
  padding: 8px 0;
}
.lista-container .lista ul li {
  list-style: none;
}
.lista-container .lista ul li a {
  color: grey;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 0.7px;
}
.lista-container .lista .shop {
  padding-top: 13px;
}

.cookies {
  max-width: 70%;
  margin: auto;
  color: grey;
  font-size: 12px;
  letter-spacing: 0.7px;
  padding-top: 10px;
}
.cookies span {
  color: #0082F9;
}