.footer-top{
    height: 370px;
    width: 100%;
    background-image: url("/laravel-comics/images/dc-logo-bg.png"), url("/laravel-comics/images/footer-bg.jpg");
    background-position: right 25% center, left top;
    background-size: 480px, cover;
    background-repeat: no-repeat, no-repeat;
}
.lista-container{
    display: flex;
    max-width: 70%;
    margin: auto;
    padding-top: 30px;
    .lista{
        padding-right: 30px;
        h4{
            color: $textColor1;
        }
        ul{
            padding: 8px 0;
    
            li{
                list-style: none;
                a{
                    color: grey;
                    text-decoration: none;
                    font-size: 12px;
                    letter-spacing: 0.7px;
                }
            }
        }
        .shop{
            padding-top: 13px;
        }
    }
}
.cookies{
    max-width: 70%;
    margin: auto;
    color: grey;
    font-size: 12px;
    letter-spacing: 0.7px;
    padding-top: 10px; 
    span{
        color: $mainColor;
    }
}

// footer-bottom
.footer-bottom{
    background-color: #303030;
    .footer-container{
        max-width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        button{
            border: none;
            border: 2px solid $mainColor;
            background-color: transparent;
            padding: 10px;
            a{
                text-decoration: none;
                color: $textColor1;
            }
        }
        .social{
            display: flex;
            align-items: center;
            img{
                padding-left: 20px;
                width: 50px;
            }
            div{
                color: $mainColor;
                font-weight: 900;
            }
        }
    }
}
// /footer-bottom
